# Auto detect text files and perform LF normalization
* text=auto
ppcovers/ filter=lfs diff=lfs merge=lfs -text
produtti/ filter=lfs diff=lfs merge=lfs -text
produtti/world_alpha_*.png filter=lfs diff=lfs merge=lfs -text
